<% provide(:title, t('static_pages.home.title') )%>
  <div class="ed_dashboard_wrapper">
    <div class="container">
      <div class="row">
        <%= render "layouts/sidebar" %>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="ed_dashboard_tab">
              <div class="tab-content">
                <div class="tab-pane active" id="dasboard">
                  <div class="ed_dashboard_tab_info">
                    <div class="tabcon">
                      <h1>
                        <%= t('static_pages.home.hello')%>, <span>name</span>
                      </h1>
                      <h1>
                        <%= t('static_pages.home.wellcome')%>
                      </h1>
                      <p>
                        <%= t('static_pages.home.hi')%> <strong>name</strong>
                          <%= t('static_pages.home.content')%>
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-top: 50px">
                      <form class="ed_tabpersonal">
                        <div class="form-group">
                          <textarea name="whats_new" class="form-control" id="whats_new" cols="50" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                          <button class="btn ed_btn ed_green">
                            <%= t('static_pages.home.post')%>
                          </button>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding-top: 20px">
                      <p>
                        <%= t('static_pages.home.summary')%>
                      </p>
                      <div>
                        <section class="notepaper">
                          <blockquote class="curly-quotes">
                            E-Learning là một hình thức giáo dục, học tập dựa trên sự kết nối của Internet. Giảng viên
                            và học viên đều có thể tham gia học và đào tạo trên hệ thống E-learning trên máy tính, máy
                            tính bảng, hoặc điện thoại thông minh có kết nối Internet.
                          </blockquote>
                          <blockquote class="curly-quotes">
                            E-Learning là một hình thức giáo dục, học tập dựa trên sự kết nối của Internet. Giảng viên
                            và học viên đều có thể tham gia học và đào tạo trên hệ thống E-learning trên máy tính, máy
                            tính bảng, hoặc điện thoại thông minh có kết nối Internet.
                          </blockquote>
                          <blockquote class="curly-quotes">
                            E-Learning là một hình thức giáo dục, học tập dựa trên sự kết nối của Internet. Giảng viên
                            và học viên đều có thể tham gia học và đào tạo trên hệ thống E-learning trên máy tính, máy
                            tính bảng, hoặc điện thoại thông minh có kết nối Internet.
                          </blockquote>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="wordlist">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container ed_dashboard_tab_info" id="wordlist">

                    <h3>
                      <%= t('layouts.sidebar.wordlist')%>
                    </h3>
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <%= link_to t('static_pages.home.course_number', numberc: 1), "#course1" , { :class=> '',
                          'data-toggle' => 'tab' }%>
                      </li>
                      <li>
                        <%= link_to t('static_pages.home.course_number', numberc: 2), "#course2" , { :class=> '',
                          'data-toggle' => 'tab' }%>
                      </li>
                      <li>
                        <%= link_to t('static_pages.home.course_number', numberc: 3), "#course3" , { :class=> '',
                          'data-toggle' => 'tab' }%>
                      </li>
                      <li>
                        <%= link_to t('static_pages.home.course_number', numberc: 4), "#course4" , { :class=> '',
                          'data-toggle' => 'tab' }%>
                      </li>
                    </ul>

                    <div class="tab-content">
                      <div id="course1" class="tab-pane active">
                        <ul class="nav nav-tabs">
                          <li class="active">
                            <%= link_to t('static_pages.home.lesson_number', numberl: 1), "#menu2" , { :class=> '',
                              'data-toggle' => 'tab' }%>
                          </li>
                          <li>
                            <%= link_to t('static_pages.home.lesson_number', numberl: 2), "#menu3" , { :class=> '',
                              'data-toggle' => 'tab' }%>
                          </li>
                          <li>
                            <%= link_to t('static_pages.home.lesson_number', numberl: 3), "#menu4" , { :class=> '',
                              'data-toggle' => 'tab' }%>
                          </li>
                          <li>
                            <%= link_to t('static_pages.home.lesson_number', numberl: 4), "#menu5" , { :class=> '',
                              'data-toggle' => 'tab' }%>
                          </li>
                          <li>
                            <%= link_to t('static_pages.home.lesson_number', numberl: 5), "#menu6" , { :class=> '',
                              'data-toggle' => 'tab' }%>
                          </li>
                          <li>
                            <%= link_to t('static_pages.home.lesson_number', numberl: 6), "#menu7" , { :class=> '',
                              'data-toggle' => 'tab' }%>
                          </li>
                        </ul>

                        <div class="tab-content">

                          <div id="menu2" class="tab-pane active">
                            <h3>
                              <%= t('static_pages.home.lesson_number', numberl: 1)%>
                            </h3>

                          </div>
                          <div id="menu3" class="tab-pane fade">
                            <h3>
                              <%= t('static_pages.home.lesson_number', numberl: 2)%>
                            </h3>

                          </div>
                          <div id="menu4" class="tab-pane fade">
                            <h3>
                              <%= t('static_pages.home.lesson_number', numberl: 3)%>
                            </h3>

                          </div>
                          <div id="menu5" class="tab-pane fade">
                            <h3>
                              <%= t('static_pages.home.lesson_number', numberl: 4)%>
                            </h3>

                          </div>


                          <div id="menu6" class="tab-pane fade">
                            <h3>
                              <%= t('static_pages.home.lesson_number', numberl: 5)%>
                            </h3>

                          </div>
                          <div id="menu7" class="tab-pane fade">
                            <h3>
                              <%= t('static_pages.home.lesson_number', numberl: 6)%>
                            </h3>

                          </div>

                          <div id="#course4" class="tab-pane fade">
                            <h3>Menu 3</h3>

                          </div>
                        </div>
                      </div>
                      <div id="course2" class="tab-pane fade">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
