<div class="ed_slider_form_section">
<!--Slider start-->
	<section class="ed_mainslider">
		<article class="content">
			<div class="rev_slider_wrapper">			
				<!-- START REVOLUTION SLIDER 5.0 auto mode -->
				<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
							<%= image_tag "slider_4" %>						
				</div><!-- END  -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->	
		</article>
	</section>
  <div class="ed_form_box">
    <div class="container">
      <div class="ed_search_form">
        <form class="form-inline">
          <div class="form-group">
          <input type="text" placeholder="Course Name" class="form-control" id="course">
          </div>
          <div class="form-group">
          <input type="text" placeholder="Location" class="form-control" id="location">
          </div>
          <div class="form-group">
          <input type="text" placeholder="Language" class="form-control" id="language">
          </div>
          <div class="form-group">
          <input type="text" placeholder="Type" class="form-control" id="type">
          </div>
          <div class="form-group">
          <button type="button" class="btn ed_btn pull-right ed_orange">search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="ed_transprentbg ed_toppadder100 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_bottompadder50 ed_toppadder50">
					<h3>Find the right course</h3>
				</div>
			</div>
			<div class="ed_mostrecomeded_course_slider">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">							
              <%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Project Learning </a><span>£25</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">												
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>35 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html">Joanna Simpson</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Billing Seminar</a><span>free</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>55 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html">DESPERATE SCOTT</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Javascript Camp</a><span>£60</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>55 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html"> FRANK PASCAL</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>        
			</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="course_single.html" class="ed_getinvolved" style="float:right">See more <i class="fa fa-long-arrow-right"></i></a>
      </div>
		</div>
    </div>
    <!-- /.container -->
</div>
<div class="ed_transprentbg ed_toppadder100 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_bottompadder50 ed_toppadder50">
					<h3>English course</h3>
				</div>
			</div>
			<div class="ed_mostrecomeded_course_slider">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">							
              <%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Project Learning </a><span>£25</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">												
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>35 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html">Joanna Simpson</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Billing Seminar</a><span>free</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>55 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html">DESPERATE SCOTT</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Javascript Camp</a><span>£60</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>55 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html"> FRANK PASCAL</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Billing Seminar</a><span>free</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>55 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html">DESPERATE SCOTT</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Billing Seminar</a><span>free</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>55 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html">DESPERATE SCOTT</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "sec1_s5_big.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="course_single.html">Billing Seminar</a><span>free</span></h4>
							<div class="row">
								<div class="ed_rating">
									<div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
										<div class="ed_views">
										<i class="fa fa-users"></i>
										<span>55 students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="course_detail">
								<div class="course_faculty">
									<%= image_tag "team_9.jpg" %> <a href="instructor_dashboard.html">DESPERATE SCOTT</a>
								</div>
							</div>
							<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
							<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="course_single.html" class="ed_getinvolved" style="float:right">See more <i class="fa fa-long-arrow-right"></i></a>
        </div>        
			</div>
		</div>
  </div><!-- /.container -->
</div>
<div class="ed_graysection ed_toppadder90 ed_bottompadder90">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_bottompadder50">
					<h3>Why Choose Us</h3>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_counter_wrapper">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="ed_counter">
							<h2 class="timer" data-from="0" data-to="2600" data-speed="5000">2600</h2>
							<h4>Students graduated</h4>
							<p>Throughout these year we have done amazing work with 250 students..</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="ed_counter">
							<h2 class="timer" data-from="0" data-to="5900" data-speed="5000">5900</h2>
							<h4>Competitions won</h4>
							<p>Only competitions were the ones in the back of the magazines you find..</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="ed_counter">
							<h2 class="timer" data-from="0" data-to="8400" data-speed="5000">8400</h2>
							<h4>Classes visited</h4>
							<p>Can how you setup your classroom impact how students think...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>