<div class = "col-md-2 dashboad_left sidebar_admin">
  <div class="card">
    <div class="card-header" id="headingOne">
      <div class = "childdash">
        <%= link_to t("admin.user"), "#user_mangament", {"data-toggle" => "collapse" } %>
      </div>
      </div>
      <div class="collapse" id="user_mangament">
        <div class="card card-body childdash_cos">
          <%= link_to t("admin.userlist"), admin_users_path, class: "login_button"%>
          <%= link_to t("admin.adduser"), new_admin_user_path, class: "login_button"%>
        </div>
      </div>
      <div class = "childdash">
        <%= link_to  t("admin.cate"), "#cate_mangament", {"data-toggle" => "collapse" } %>
      </div>
      <div class="collapse" id="cate_mangament">
        <div class="card card-body childdash_cos">
          <%= link_to t("admin.catelist"), admin_categories_path, class: "login_button"%>
          <%= link_to t("admin.addcate"), new_admin_category_path, class: "login_button"%>
        </div>
      </div>
      <div class = "childdash">
        <%= link_to  t("admin.lesson"), "#lesson_mangament", {"data-toggle" => "collapse" } %>
      </div>
      <div class="collapse" id="lesson_mangament">
        <div class="card card-body childdash_cos">
          <%= link_to t("admin.lessonlist"), admin_lessons_path, class: "login_button"%>
          <%= link_to t("admin.addlesson"), new_admin_lesson_path, class: "login_button"%>
        </div>
      </div>
    </div>
  </div>
</div>