<%= render "admin/sidebar_admin" %>
<div class = "col-md-10 ">
  <%= render "shared/flash_messages" %>
  <table class="table table-striped table-inverse table-responsive table-bordered table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>STT</th>
          <th><%= t("admin.lessons.name")%></th>
          <th ><%= t("admin.lessons.status")%></th>
          <th><%= t("admin.lessons.time")%></th>
          <th><%= t("admin.lessons.category")%></th>
        </tr>
        </thead>
        <tbody>
        <% @lessons.each do |lesson| %>
        <div class="row d-flex justify-content-center mt-4">
          <tr>
            <td >
              <%if params[:page]%>
                <%= (params[:page].to_i - 1)*10 + @lessons.index(lesson)+1%>
              <%else%>
                <%= @lessons.index(lesson)+1%>
              <%end%>
            </td>
            <td scope="row"><%= lesson.name_lesson%></td>           
            <td><% if lesson.status%>
                  <div class ="active_status"></div>
                <%else%>
                  <div class ="unactive_status"></div>
                <%end%>
            </td>
            <td ><%= lesson.time%> minutes</td>
            <td ><%= lesson.category_id%></td>
            <td>
              <%= link_to edit_admin_lesson_path(id: lesson.id), class: "btn btn-primary m-1"  do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <%end%>
              <%if lesson.status %>
                <%= link_to [:admin, lesson], method: :delete, class: "btn btn-primary m-1" do %>
                  <i class="fa fa-circle-o" aria-hidden="true"></i>
                <%end%> 
              <%else%>
                <%= link_to [:admin, lesson], method: :delete, class: "btn btn-primary m-1" do %>
                  <i class="fa fa-circle" aria-hidden="true"></i>
                <%end%> 
              <%end%>      
            </td>
          </tr> 
        </div>      
        <%end%>
      </tbody>
    </table>
    <%= will_paginate @lessons, :previous_label=> t("page.pre"), :next_label => t("page.next") %>
</div>