<div class="tab-pane active" id="dasboard">
  <div class="ed_dashboard_tab_info">
    <div class="tabcon">
      <h1>
        <%= t("static_pages.home.hello")%>, 
        <span>
            <%= @user.username%>
        </span>
      </h1>
      <h1>
        <%= t("static_pages.home.wellcome")%>
      </h1>
      <p>
        <%= t("static_pages.home.hi")%> <strong><span>
        <%= @user.username%></strong>
        <%= t("static_pages.home.content")%>
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-top: 50px">
      <%= form_with model: @summary, class: "ed_tabpersonal" do |f|%>
      <%= render "shared/flash_messages" %>
      <%= render "shared/error_messages" , object: f.object %>
      <div class="field">
        <%= f.text_area :content, placeholder: t("summary.new"), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit t("static_pages.home.post"), class: "btn ed_btn ed_green" %>
      </div>
      <% end %>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding-top: 20px">
      <p>
        <%= t("static_pages.home.summary")%>
      </p>
      <div>
        <section class="notepaper">
          <% @summary_list.each do |s| %>
            <blockquote id="summary-<%s.id%>" class="curly-quotes">
              <%= t("summary.content")%>
              <%=s.content%><br>
              <div class="time_ago">
              <%= t("summary.posted")%>
                <%= time_ago_in_words(s.created_at) %>
                <%= t("summary.ago")%>
                <%= link_to "delete" , s , method: :delete, data: { confirm: "You sure?" } %>
              </div>
            </blockquote>
          <%end%>
        </section>
      </div>
    </div>
  </div>
</div>