<div class = " col-md-12 ed_dashboard_wrapper"> 
  <div class = "row">
    <div class="col-md-9 col-md-offset-1 signup">
      <%= render "shared/flash_messages" %>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1 signup">
    <h1><%= t('users.edit.resetpass')%></h1>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>                       
      <%= f.label :password, t('users.new.password') %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, t('users.new.confirm') %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit  t('users.edit.resetpass'), class: "btn btn-primary" %>
    <% end %>                   
  </div>
  <div class="col-md-6 signup">
    <h1><%= t('users.edit.profile')%></h1>
      <%= form_with(model: @user, local: true) do |f| %>
        <div class="col-md-4 ed_profile_img">
          <% if @user.user_profile.image.attached? %>
            <%= image_tag  @user.user_profile.image  %>
          <%else%>
            <%= image_tag "23.png" %>
          <%end%>
          <span class="image">
            <%= f.file_field :image %>
          </span>

        </div>
        <div class="col-md-8 "> 
          <%= render 'shared/error_messages' %>                     
          <%= f.label :fullname%>
          <%= f.text_field :fullname, value: @user.user_profile.fullname %>
          <%= f.label :sex %>
          <%= f.text_field :sex, value: @user.user_profile.sex %>
          <%= f.label :address%>
          <%= f.text_field :address, value: @user.user_profile.address %>
          <%= f.label :phone %>
          <%= f.text_field :phone, value: @user.user_profile.phone %>
          <%= f.submit  t('users.edit.update_profile'), class: "btn btn-primary" %>
        </div> 
      <% end %>                     
  </div>
</div>