<div class = "ed_dashboard_wrapper ">
<div class = "col-md-4 col-md-offset-4 ed_dashboard_tab_info ">
  <ul class="users">
      <% @user.each do |u|%>
        <%if current_user.id != u.id%>
          <li >
            <div class = "row ">            
              <div class = "col-md-3">
                  <%= image_tag "23.png" %>
              </div>
              <div class = "col-md-6">
                
                  <%= link_to u.username, "#" %>
                  <% if current_user.following?(u.id) %>
                    <%= form_with(model: current_user.active_relationships.find_by(followed_id: u.id),
                                  html: { method: :delete }, local: true) do |f| %>
                      <%= f.submit t("users.home.unfollow"), class: "btn" %>
                    <% end %>
                  <% else %>
                    <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
                      <div><%= hidden_field_tag :followed_id, u.id %></div>
                      <%= f.submit t("users.home.follow"), class: "btn btn-primary" %>
                    <% end %>
                  <%end%>
              </div>
              
            </div>
          </li>
        <%end%>
      
      <%end%>
      <%= will_paginate @user, :previous_label=> t("page.pre"), :next_label => t("page.next")%>
  </ul>
  </div>
</div>