<% provide(:title, t("static_pages.home.title") )%>
  <div class="ed_dashboard_wrapper">
    <div class="container">
      <div class="row">
        <%= render "layouts/sidebar" %>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="ed_dashboard_tab">
              <div class="tab-content">
                <%= render "dashboard" %>
                <%= render "wordlist" %>
                <%= render "activities" %>
                <%= render "profile" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>