<div class="row ed_dashboard_wrapper">
  <div class="col-lg-7 col-lg-offset-2  container ed_dashboard_tab_info "> 
    <h3><%= t("lesson.show.lesson_name")%> <%= @lesson.name_lesson%></h3>
    <%= render "shared/flash_messages" %>
      <% @words.each do |w| %>
        <div class = "col-md-3 lesson">
          <div class = "row">
            <% if w.image.attached? %>
              <%= image_tag w.image, size: "100x100" %>
            <%end%>
          </div>
          <div class = "row">
            <%= w.word%>
            <% if w.audio_word.attached? %>
              <a class = "btn-lg"  onclick="play(<%=w.id%>)">
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              </a>
              <%= audio_tag url_for(w.audio_word), id: "audio#{w.id}"%>
            <%end%>
          </div>
          <div class = "row">
            <%= w.pronounce%>
          </div>
          <div class = "row">
            <%= w.mean%>
          </div>
          <div class = "row">
            <%= link_to t("lesson.show.add_summary"), word_summary_path(id: w.id) %>
          </div>
        </div>    
      <%end%>
  </div>
  <div class= "col-md-2 ed_course_single_item">
    <div class="join_courses">
        <%= link_to t("lesson.show.strart_test"), test_path(id: @lesson.id)%>
    </div>
    <div class="join_courses">
        <%= link_to t("lesson.show.train"), train_path(id: @lesson.id)%>
    </div>
  </div>
</div>