<%= render "admin/sidebar_admin" %>
<div class = "col-md-9">
  <%= form_for(model: [:admin, @category], local: true) do |c|%>
    <%= render "shared/error_messages",object:  c.object%>
    <%= render "shared/flash_messages" %>
    <div class="col-md-4 ed_profile_img">
      <% if @category.image.attached? %>
        <%= image_tag  @category.image  %>
      <%else%>
        <%= image_tag "sec1_s5_big.jpg" %>
      <%end%>
      <span class="image">
        <%= c.file_field :image %>
      </span>
    </div>
    <div class = "col-md-8 signup">
      <%= c.label :name, value: t("admin.categories.name") %>
      <%= c.text_field :name, value: @category.name%>
      <%= c.label :decription, value: t("admin.categories.decrip")%>
      <%= c.text_area :decription, value: @category.decription, size: "709x10"%>
       <%= c.submit  t("admin.categories.update"), class: "btn btn-primary" %>
    </div>
    <h3><%= t("admin.categories.lesson")%></h3>
    <div class = "row" >
      <div class="ed_time_executor ed_toppadder40" style = "border: 1px solid">
          <ul>
            <%@category.lessons.each do |l|%> 
              <li>
                <%=link_to l.name_lesson, edit_admin_lesson_path(id: l.id) %> <span><%= l.content_lessons.count%> <%= t("admin.categories.word")%></span>
              </li>
              <%end%>
          </ul>
        </div>
      </div>
    </div>
  <%end%>
</div>