<div class="row ed_dashboard_wrapper">
  <div class="col-lg-8 col-lg-offset-2  container ed_dashboard_tab_info ">
   <%= render "shared/flash_messages" %>
   <%= form_with do |f| %>
    <%@questions.each do |q|%> 
      <b><%= t("lesson.show.question")%> <%= @questions.index(q) + 1%>:  </b> <%= q.content%><br>
      <%q.answers.each do |a|%>
        <%if @ans_user["#{q.id}"] == a.content_lesson.word %>
          <% if a.right_ans == true%>
          <div class = "correct_ans">
            <%=  f.radio_button "ques#{q.id}" , a.content_lesson.word, checked: true, value: q.id%> 
            <%=  f.label q.id, a.content_lesson.word%><br>
          </div>
          <%else%>
          <div class = " incorrect_ans">
            <%= f.radio_button "ques#{q.id}" , a.content_lesson.word, checked: true, value: q.id%> 
            <%= f.label q.id, a.content_lesson.word%><br>
          </div>
          <%end%>
        <%else%>
          <% if a.right_ans == true%>
            <div class = "correct_ans">
              <%=  f.radio_button "ques#{q.id}" , a.content_lesson.word, checked: false, value: q.id%> 
              <%=  f.label q.id, a.content_lesson.word%><br>
            </div>
          <%else%>
            <%=  f.radio_button "ques#{q.id}" , a.content_lesson.word, checked: false, value: q.id%> 
            <%=  f.label q.id, a.content_lesson.word%><br>
          <%end%>
        <%end%>
      <%end%>
      <br>    
    <%end%>
  <%end%>
    <%= link_to t("lesson.show.back"), root_path,  class: "btn btn-primary"%>
  </div>
</div>