<div id="educo_wrapper">
  <header id="ed_header_wrapper">
    <div class="ed_header_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p><%= t('layouts.header.hi')%></p>
            <div class="ed_info_wrapper">
              <a href="#" id="login_button"><%= t('layouts.header.login')%></a>
                <div id="login_one" class="ed_login_form">
                  <h3><%= t('layouts.header.login')%></h3>
                  <form class="form">                    
                    <div class="form-group">
                      <button type="submit"><%= t('layouts.header.login')%></button>                     
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ed_header_bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            					
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
					<div class="edoco_menu_toggle navbar-toggle" data-toggle="collapse" data-target="#ed_menu">Menu <i class="fa fa-bars"></i>
					</div>
					<div class="edoco_menu">
						<ul class="collapse navbar-collapse" id="ed_menu">
							<li><%= link_to t('layouts.header.home'), root_path %></li>
							<li><%= link_to t('layouts.header.about'), "#" %></li>							
							<li><%= link_to t('layouts.header.courses'), cate_path %></li>							
							<li><%= link_to t('layouts.header.contact'), "#" %></li>
						</ul>
					</div>
				</div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="educo_call"><i class="fa fa-phone"></i><a href="#">1-220-090</a></div>
          </div>
        </div>
      </div>
      </div>
  </header>
</div>
