<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  <div class="ed_sidebar_wrapper">
    <div class="ed_profile_img">
      <%= image_tag "23.png" %>
    </div>
    <h3>andre house</h3>
    <div class="ed_tabs_left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab"><%= t('layouts.header.home')%></a></li>
        <li><a href="#wordlist" data-toggle="tab"><%= t('layouts.sidebar.wordlist')%></a></li>
        <li><a href="#" data-toggle="tab"><%= t('layouts.sidebar.activity')%></a></li>
        <li><a href="#" data-toggle="tab"><%= t('layouts.sidebar.profile')%></a></li>
      </ul>
    </div>
  </div>
</div>